#container {
    margin: 20vh auto;
    width: 50vw;
    height:40rem;
    text-align: center;
    border: 0.25rem solid black;
    background-color: aliceblue;
}

#wordSearch{
    font-size: 18px;
    width: 30%;
    background-color: thistle;
}

#button{
    font-size: 18px;
}