#container {
    margin: 10vh auto;
    width: 80vw;
    min-height:20rem;
    height: 80vh;
    text-align: center;
    border: 0.25rem solid black;
    background-color: aliceblue;
}

#wordSearch{
    font-size: 18px;
    width: 60%;
    background-color: thistle;
}

#button{
    font-size: 18px;
}